spacy
scikit-learn
PyMuPDF
pandas
trafilatura
frontend
transformers
rank-bm25
nltk
datasets
openai
sentence-transformers
spacy
ipywidgets
faiss-gpu-cu12[fix-cuda]
dirtyjson
aenum
protobuf
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
ollama
